{
  "presets": ["es2016", "stage-0"],
  "plugins": [
    "transform-es2015-modules-commonjs",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ]
}
